<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MMABooks"
			 connectionString="Data Source=(LocalDB)\\MSSQLLocalDB; AttachDBFilename=C:\\Users\\Vampi\\Utilities\\Desktop\\School\\Fall 2021\\5. Contemporary Programming\\4.Entity Framework Core Database First\\OrderOptionsMaintenance\\OrderOptionsMaintenance\\MMABooks.mdf; Integrated Security=True"/>
	</connectionStrings>
</configuration>